{
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "printWidth": 120
}
