.heading {
    line-height: var(--fnt-line-height);
    font-weight: var(--fnt-weight-heading);
}

.h1 {
    font-size: var(--fnt-size-h1);
}

.h2 {
    font-size: var(--fnt-size-h2);
}

.h3 {
    font-size: var(--fnt-size-h3);
}

.h4 {
    font-size: var(--fnt-size-h4);
}
