:root {
    // Font
    --fnt: "Corpid", "PT Sans", sans-serif;
    --fnt-size-text: 1em;
    --fnt-weight-text: normal;
    --fnt-line-height: 1.5;

    // Headings
    --fnt-size-h1: 1.5em;
    --fnt-size-h2: 1.25em;
    --fnt-size-h3: 1.125em;
    --fnt-size-h4: 1em;
    --fnt-weight-heading: bold;

    // Primary color pallette
    --clr-black: #0f0f0f;
    --clr-white: #ffffff;

    // Primary color pallette
    --clr-yellow: #ffd700;
    --clr-light-yellow: #fffacd;
    --clr-dark-yellow: #ffb300;
    --clr-creme: #fafad2;
    --clr-olive: #808000;

    // Secondary color pallette
    --clr-blue: #1e90ff;
    --clr-light-blue: #add8e6;
    --clr-dark-blue: #00008b;
    --clr-steel-blue: #4682b4;
    --clr-ice-blue: #e0ffff;

    // States
    --clr-disabled: #898989;
    --clr-hover: --clr-yellow;
    --clr-focus: --clr-steel-blue;

    // Borders
    --border-radius: 6px;
    --border-width: 1px;

    // Outline
    --outline-width: 2px;
    --outline-offset: 3px;
    --outline-clr: --clr-black;

    // Transitions
    --transition-speed: 200ms;
    --transition-timing: ease-in-out;

    // Box shadows
    --box-shadow: 0px 3px 6px #00000029;
}
