:root {
    // Font
    --fnt: "Corpid", "PT Sans", sans-serif;
    --fnt-size-text: 1em;
    --fnt-weight-text: normal;
    --fnt-line-height: 1.5;

    // Headings
    --fnt-size-h1: 1.5em;
    --fnt-size-h2: 1.25em;
    --fnt-size-h3: 1.125em;
    --fnt-size-h4: 1em;
    --fnt-weight-heading: bold;

    // Material Symbols
    --symbols: "Material Symbols Outlined";

    // Primary color pallette
    --clr-primary-light-grey: #dce1de;
    --clr-primary-light-green: #9cc5a1;
    --clr-primary-green: #49a078;
    --clr-primary-cyan: #216869;
    --clr-primary-black: #1f2421;
    --clr-primary-white: #fff;

    // States
    --clr-disabled: #898989;
    --clr-focus: #ffb300;

    // Borders
    --border-width: 2px;
    --border-radius: 6px;
    --border-clr: var(--clr-cyan);

    // Outline
    --outline-width: 3px;
    --outline-offset: 3px;

    // Box shadows
    --box-shadow: 0px 3px 6px #00000029;
}
