.socials-container {
    display: flex;
    gap: 2rem;

    .social-button {
        &:hover {
            color: var(--clr-primary-green);
        }
        &:hover .social-icon {
            fill: var(--clr-primary-green);
        }

        .social-icon {
            display: flex;
            margin: 0 0.5rem 0 0;
            width: 2rem;
            fill: var(--clr-primary-light-green);
        }
    }
}
