.button {
    // Reset
    appearance: none;
    background-color: transparent;
    outline: none;
    border: none;

    // Styles
    border: solid;
    border-radius: var(--border-radius);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    max-width: 100%;
    text-decoration: none;

    &:focus-visible {
        outline: var(--outline-width) solid var(--clr-focus);
        outline-offset: var(--outline-offset);
    }
}

/* Padding: Primary & Secondary & Tertiary & Header */
.primary,
.secondary,
.tertiary,
.header {
    &.small {
        padding: 0.375rem;

        /* If has children and has icon */
        &:not(.no-children):has(.icon) {
            &.icon-left {
                padding: 0.375rem 0.375rem 0.375rem 0.125rem;
            }

            &.icon-right {
                padding: 0.375rem 0.125rem 0.375rem 0.375rem;
            }
        }
    }

    &.large {
        padding: 0.375rem 1rem;

        /* If has children and has icon */
        &:not(.no-children):has(.icon) {
            &.icon-left {
                padding: 0.375rem 1rem 0.375rem 0.75rem;
            }

            &.icon-right {
                padding: 0.375rem 0.75rem 0.375rem 1rem;
            }
        }
    }
}

/* Primary */
.primary {
    border: 0;
    text-decoration: none;
    color: var(--clr-primary-black);
    background-color: var(--clr-primary-light-green);

    &:hover {
        border: 0;
        text-decoration: none;
        background-color: var(--clr-primary-green);
    }
}

/* Secondary */
.secondary {
    border: 0;
    text-decoration: none;
    color: var(--clr-primary-black);
    background-color: var(--clr-primary-white);

    &:visited,
    &:active {
        text-decoration: none;
        color: var(--clr-primary-black);
    }

    &:hover {
        background-color: var(--clr-primary-light-green);
    }
}

/* Tertiary */
.tertiary {
    border: 0;
    text-decoration: none;
    color: var(--clr-primary-white);
    background-color: var(--clr-primary-cyan);

    &:visited,
    &:active {
        text-decoration: none;
        color: var(--clr-primary-white);
    }

    &:hover {
        background-color: var(--clr-primary-black);
    }
}

/* Header */
.header {
    border: 0;
    border-radius: var(--border-radius);
    color: var(--clr-primary-green);
    font-size: 1.25rem;
    text-decoration: none;

    &:hover {
        color: var(--clr-primary-cyan);
    }

    &.active {
        background-color: var(--clr-active);
        color: var(--clr-primary-cyan);
    }
}

/* Wrapper */
.wrapper {
    border: none;
    box-sizing: border-box;
    border-radius: var(--border-radius);
}

/* If wrapper button only has an icon */
.button.no-children.wrapper:has(.icon) {
    display: flex;
    align-items: center;
}

/* Link and Inline-link and return */
.inline-link,
.link,
.return {
    cursor: pointer;
    display: inline;
    color: var(--clr-primary-black);
    text-decoration: none;
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;

    &::after {
        content: "";
        height: 1px;
        width: calc(100% - 0.25em);
        bottom: 0;
        right: 0;
        position: absolute;
    }

    &.icon-right::after {
        left: 0;
        right: auto;
    }

    &.no-icon::after {
        width: 100%;
    }
}

/* Link and return */
.link,
.return {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    gap: 0;
}

.return {
    margin-left: -0.4rem;
    white-space: nowrap;

    .icon {
        margin: 0;
    }

    &::after {
        width: calc(100% - 1.45em);
    }
}

/* Icon */
.icon {
    margin: 0 0.25rem 0 0;
}

/* If icon is positioned right */
.button.icon-right .icon {
    margin: 0 0 0 0.25rem;
}

/* If button only has an icon center it */
.button.no-children {
    .icon {
        margin: 0 auto;
    }
}
