.video-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .video {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    .overlay {
        z-index: 8;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .heading {
        margin: 0;
        z-index: 9;
        letter-spacing: 0.5rem;
        max-width: 1024px;
        text-transform: uppercase;
        color: var(--clr-primary-light-grey);
        font-family: "Courier New", Courier, monospace;
    }
}
