.column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex: 0 0 auto;
    max-width: 100%;
    min-height: 1px;
}

.align-center {
    display: flex;
    align-items: center;
}

.align-end {
    display: flex;
    align-items: flex-end;
}

.col-1 {
    flex: 0 0 8.3333333334%;
    max-width: 8.3333333334%;
}

.col-2 {
    flex: 0 0 16.6666666668%;
    max-width: 16.6666666668%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33333333334%;
    max-width: 33.33333333334%;
}

.col-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.33333333334%;
    max-width: 58.33333333334%;
}

.col-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
}

.col-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.offset-0 {
    margin-inline-start: 0%;
}

.offset-1 {
    margin-inline-start: 8.3333333334%;
}

.offset-2 {
    margin-inline-start: 16.6666666668%;
}

.offset-3 {
    margin-inline-start: 25%;
}

.offset-4 {
    margin-inline-start: 33.33333333334%;
}

.offset-5 {
    margin-inline-start: 41.6666666667%;
}

.offset-6 {
    margin-inline-start: 50%;
}

.offset-7 {
    margin-inline-start: 58.33333333334%;
}

.offset-8 {
    margin-inline-start: 66.6666666667%;
}

.offset-9 {
    margin-inline-start: 75%;
}

.offset-10 {
    margin-inline-start: 83.3333333333%;
}

.offset-11 {
    margin-inline-start: 91.6666666667%;
}

.offset-12 {
    margin-inline-start: 100%;
}
