.header {
    z-index: 10;
    width: 100%;
    position: absolute;
    color: var(--clr-primary-light-grey);

    .wrapper {
        width: 100%;
        display: flex;
        margin: 3rem auto;
        max-width: 1024px;
        align-items: center;
        justify-content: space-between;
        .brand {
            width: 4rem;
            aspect-ratio: 1/1;
            display: block;
            object-fit: contain;
            object-position: left center;
            fill: var(--clr-primary-light-grey);

            &:hover {
                fill: var(--clr-primary-light-green);
            }
        }

        .navigation {
            .navigation-list {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                padding: 0;
                margin: 0;
                gap: 3rem;
            }
        }
    }
}
